#content
  %h1= "Here is your randomly selected #{@pl.genre_handle} playlist:"
  #track-list
    - @pl.tracks.each do |t|
      %div
        #track-data
          %a(href="#{t.url}" class="track-link" id="track-link-#{t.fma_id}") 
            = t.title
        #track-player
          != Playlist.embedded_player_for_track(t.fma_id)
